## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Max Temp,Lat,Lng,Hotel Name
0,0,Victoria,69.85,22.2855,114.1577,Mini Hotel Central
1,4,Lebu,53.20,-37.6167,-73.6500,Hostal Las Lilas
2,5,Airai,71.80,-8.9266,125.4092,Juvinal Martin
3,7,Nova Vicosa,75.65,-17.8919,-39.3719,Pousada Porto do Sol
4,8,Saint-Philippe,72.99,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df

,City_ID,City,Max Temp,Lat,Lng,Hotel Name
0,0,Victoria,69.85,22.2855,114.1577,Mini Hotel Central
1,4,Lebu,53.20,-37.6167,-73.6500,Hostal Las Lilas
2,5,Airai,71.80,-8.9266,125.4092,Juvinal Martin
3,7,Nova Vicosa,75.65,-17.8919,-39.3719,Pousada Porto do Sol
4,8,Saint-Philippe,72.99,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...
362,677,Quatre Cocos,73.51,-20.2078,57.7625,Sunrise Attitude Hotel
363,678,Saint-Paul,73.51,-21.0096,55.2707,Boucan Canot
364,679,Caborca,67.69,30.5838,-111.1010,Hotel Los Lagos
365,680,Aguas Vermelhas,65.75,-15.7472,-41.4600,NaN
366,681,Obo,71.69,5.3998,26.4869,NaN

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Beruwala"]
vacation_end = vacation_df.loc[vacation_df['City']=="Beruwala"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Hambantota"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Kalmunai"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Batticaloa"]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing
#start = vacation_start[{"Lat","Lng"}].to_numpy()
#end = vacation_end({"Lat","Lng"}).to_numpy()
#stop1 = vacation_stop1({"Lat","Lng"}).to_numpy()
#stop2 = vacation_stop2({"Lat","Lng"}).to_numpy()
#stop3 = vacation_stop3({"Lat","Lng"}).to_numpy()

In [8]:
start = tuple(vacation_start[{"Lat","Lng"}].iloc[0])
end = start
stop1 = tuple(vacation_stop1[{"Lat","Lng"}].iloc[0])
stop2 = tuple(vacation_stop2[{"Lat","Lng"}].iloc[0])
stop3 = tuple(vacation_stop3[{"Lat","Lng"}].iloc[0])

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
Sri_Lanka_Vacation = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3,end],show_markers=True,travel_mode="WALKING")
fig.add_layer(Sri_Lanka_Vacation)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

   City_ID        City  Max Temp     Lat      Lng              Hotel Name
0      625    Beruwala     76.93  6.4788  79.9828         The Palms Hotel
1      625    Beruwala     76.93  6.4788  79.9828         The Palms Hotel
2      217  Hambantota     75.54  6.1241  81.1185             Bungalow 63
3      569    Kalmunai     78.80  7.4167  81.8167                VS Villa
4      408  Batticaloa     79.30  7.7102  81.6924  Grand Star Guest House

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
Sri_Lanka_Vacation = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3,end],show_markers=True,travel_mode="WALKING")
fig.add_layer(Sri_Lanka_Vacation)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))